$main-color: #00b7ee;
$yzm-color:#faa967;
$btn-color:#fff;
$main-check-img:'check_img.png';
$login-bg:'login_bg.jpg';
.wapperout{width: 100%;}
.ovisible,.overvisible{overflow:visible!important;}
a{color: #333;}
a:hover{ text-decoration: none;}
.h290{height:258px;}
.h274{height:242px;}
.h346{ height:314px; }
.h280{ height:248px;  }
.h392{height: 360px; }
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}
input::-webkit-outer-spin-button {
-webkit-appearance: none;
}

.login-iframe{width: 370px;position: absolute;top:270px;left:50%;margin-left:-185px;border: none;border-radius:5px;}
.login-bg{ background: url($login-bg) no-repeat center center;background-size:auto 100%; }
.login-box{width: 320px;padding: 12px 25px 20px 25px; overflow: hidden;color: #333; background-color: #fff;
 border-radius:5px;
    .login-type{margin: 0 0 15px 0;height: 42px; line-height: 42px; font-size: 14px;
        .radio-l{float:left; height: 42px; line-height: 42px;
                label{margin-right: 35px;
                    input{-webkit-appearance:none;width:16px; height: 16px; background: url(no_check.png) no-repeat; position: relative;top:3px; margin-right: 5px;}
                    input:checked{background: url($main-check-img) no-repeat;}
                }
            }
        .weixin-ico{float:right;display:block;width: 35px; height: 35px; background:url(weixin_ico.png) no-repeat; margin-top: 2px;}
        .weixin-ico:hover{background:url(weixin_ico2.png) no-repeat; }
    }
    .title{ height: 32px; line-height: 32px;margin: 0 0 15px 0; font-size: 18px;}
    ul.login-type-box{width: 320px;
        li{ height: 42px; margin-bottom: 15px;font-size: 14px;
            .long-txt{  width: 298px; height: 20px; line-height: 20px; border:1px solid #ddd; border-radius: 5px; padding:10px;}
            .login-btn{width: 320px; height: 42px; line-height: 42px;border-radius: 5px;border:none;background-color:$main-color;font-size: 14px; color:$btn-color; cursor:pointer;}
            .get-yzm-btn{float:right;display:block;width: 90px; height: 42px; line-height: 42px; background-color:$yzm-color; border-radius: 5px;color:#fff; text-align: center;}
            .yzm-txt{float:left;width: 193px; height: 20px; line-height: 20px; border:1px solid #ddd; border-radius: 5px; padding:10px;}
            .dis-get{ background-color: #ccc;}
            &.promite{height:12px; line-height:12px;color:#666;font-size: 12px; text-align: center;margin-bottom: 0;
                a{color:$main-color;}
            }
            &.agree{height:12px; line-height:12px;font-size: 12px; margin-bottom: 15px;
                span{color:#999;}
            }
            &.old-mobile{ height: 30px; }
        }
    }
    .sucess-ico{width: 160px; height: 104px; margin: 20px auto 0 auto;}
    .word1{ font-size: 30px; color: $main-color; line-height: 50px; text-align: center; margin: 10px 0;}
    .word2{height:12px; line-height:12px;color:#666;font-size: 12px; text-align: center;padding-bottom: 44px;
        a{color:$main-color;}
   }
}
.error{ height: 17px; line-height: 17px;
    span{display: none;background: url(error.png) no-repeat 0 0;padding-left:27px;color:#ff3300; height: 17px; line-height: 17px;}
}


