/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{color:#333;outline:0;}
body{background:#fafafa;min-width:1400px;font-family:Microsoft YaHei;}
*{
    font-family:Microsoft YaHei;
}
a{
    color:#666;
}
.wrapper{
    width:1900px;
}
.frame{
    position:relative;
}
.sidebar{
    position:fixed;
    bottom:0;
    top:0;
    left:0;
    z-index:99;
    .sidebar-min{
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        width:50px;
        background:#2c2c2c;
        .opts{
            position:absolute;
            top:50%;
            margin-top:-250px;
        }
        .more{
            cursor:pointer;
            width:20px;
            background:url(../images/l-side.png) center center no-repeat;
            height:168px;
            position:absolute;
            top:50%;
            margin-top:-84px;
            left:50px;
        }
        li.on{
            a{
                background:#404141;
            }
        }
        a{
            height:120px;
            display:block;
            color:#ccc;
            text-align:center;
            span{
                display:block;
                padding-top:70px;
            }
        }
        .o1{
            span{
                background:url(../images/icon-l1.png) center 38px no-repeat;
            }
        }
        .o2{
            span{
                background:url(../images/icon-l2.png) center 38px no-repeat;
            }
        }
        .o3{
            span{
                background:url(../images/icon-l3.png) center 38px no-repeat;
            }
        }
        .o4{
            span{
                background:url(../images/icon-l4.png) center 38px no-repeat;
            }
        }
    }
    .sidebar-extend{
        width:370px;
        background:#FFF;
        position:absolute;
        left:0;
        top:0;
        bottom:0;
        z-index:8;
        filter: drop-shadow(5px 5px 20px rgba(48,126,215,0.06));
        .close{
            cursor:pointer;
            width:20px;
            background:url(../images/left-close.png) center center no-repeat;
            height:168px;
            position:absolute;
            top:50%;
            margin-top:-84px;
            left:370px;
        }
        .inner{
            padding:0 30px;
            height:100%;
            overflow-y:auto;
            height:100%;
        }
        .title{
            position:relative;
        }
        .filter-item{
            padding-top:50px;
            .title{
                height:32px;
                position:relative;
                padding-left:12px;
                font-size:16px;
                color:#333;
                .en{
                    color:#999;
                    font-size:12px;
                    margin-left:6px;
                }
                &:before{
                    content:'';
                    position:absolute;
                    height:18px;
                    width:3px;
                    background:#60a5f1;
                    left:0;
                    top:0;
                }
            }
            .filter-select-item{
                margin-bottom:10px;
                overflow:hidden;
                .select{
                    height:36px;
                    font-size:12px;
                }
                .del{
                    width:30px;
                    height:36px;
                    background:url(../images/icon-x.png) left center no-repeat;
                }
                .add{
                    width:30px;
                    height:36px;
                    background:url(../images/icon-add.png) center center no-repeat;
                }
                .del,.select,.add{
                    float:right;
                }
                .add{
                    margin-left:7px;
                }
                .del,.add{
                    cursor:pointer;
                }
            }
            .filter-select-item:last-child{
                .add{
                    visibility:hidden;
                }
            }
        }
        .filter-item-more{
            .ele{
                margin-bottom:10px;
                overflow:hidden;
                padding-left:20px;
            }
            .person{
                background:url(../images/icon-p1.png) left center no-repeat;
            }
            .comp{
                background:url(../images/icon-p2.png) left center no-repeat;
            }
            .factor{
                background:url(../images/icon-p3.png) left center no-repeat;
            }
            .year{
                background:url(../images/icon-p4.png) left center no-repeat;
            }
            label{
                font-size:14px;
                float:left;
                line-height:36px;
                margin-right:10px;
                color:#333;
            }
            .text{
                width:176px;
                height:34px;
                padding:0 5px;
                border:1px solid #eee;
                border-radius:3px;
                font-size:14px;
                color:#333;
            }
            .range{
                float:left;
                .text{
                    width:74px;
                    display:inline-block;
                }
            }
            .btn{
                input{
                    width:186px;
                    border:0;
                    background:#00b7ee;
                    color:#fff;
                    font-size:16px;
                    height:36px;
                    border-radius:3px;
                    cursor:pointer;
                }
            }
        }
        .ads{
            margin-top:50px;
            .ads-item{
                margin-bottom:10px;
            }
            img{
                width:100%;
            }
        }
    }
}
body{
    .ui-selectmenu-text{
        height:24px;
        line-height:24px;
    }
    .ui-selectmenu-icon.ui-icon{
        margin-top:4px;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
        border-color:#eee!important;
        background:#FFF;
        outline:0;
    }

}
.header{
    height:50px;
    background:#1e1e1e;
    .inner{
        width:1400px;
        margin:0 auto;
        overflow:hidden;
        position:relative;
    }
    .search{
        left:60px;
        width:500px;
        position:relative;
        float:left;
        padding-left:50px;
        height:50px;
        background:url(../images/search.png) left center no-repeat;
        input{
            width:100%;
            border:0;
            background:none;
            height:50px;
            font-size:18px;
            color:#FFF;
            &::-webkit-input-placeholder{
                color:#FFF;
            }
        }
    }
    .login{
        float:right;
        margin-right:10px;
        a{
            padding-left:35px;
            display:block;
            font-size:18px;
            color:#FFF;
            line-height:50px;
            background:url(../images/login.png) left center no-repeat;
            //&:hover{
                //span{
                    //background:#00ccff;
                //}
            //}
            //span{
                //display:inline-block;
                //border-radius:36px;
                //height:36px;
                //line-height:36px;
                //padding:0 15px;
            //}
        }
    }
}

.ad1{
    img{
        display:block;
        width:100%;
    }
}
.main{
    margin-top:40px;
    padding-left:90px;
    padding-right:40px;
    .chart{
        overflow:hidden;
        .demo-img{
            width:100%;
        }
    }
    .chart-table{
        margin-top:30px;
        position:relative;
        padding-right:100px;
        .table-tbody{
            height:255px;
            overflow-y:auto;
        }
        table{
            .down{
                display:inline-block;
                height:40px;
                line-height:40px;
                padding-right:25px;
                background:url(../images/icon-down.png) right center no-repeat;
            }
            .checkbox,.opt{
                text-align:center;
            }
            tr:nth-child(2n){
                background:#f6f8fc;
            }
            tr:nth-child(2n+1){
                background:#fff;
            }
            thead tr{
                background:#f6f8fc!important;
            }
            width:100%;
            th{
                color:#333;
                font-weight:bold;
            }
            td{
                color:#666;
            }
            th,td{
                font-size:14px;
                padding:0 10px;
                border:1px solid #f4f4f4;
                height:50px;
            }
        }
        .chart-table-opts{
            position:absolute;
            top:0;
            right:0;
            width:100px;
        }
    }
    .news{
        margin-top:30px;
        overflow:hidden;
        .new-block{
            padding-left:20px;
            padding-right:30px;
            padding-bottom:18px;
            background:#FFF;
        }
        .n1 .new-block{
            margin-right:10px;
        }
        .n2 .new-block{
            margin-left:10px;
        }
        .new-block-wrapper{
            width:50%;
            float:left;
        }
        .title{
            height:52px;
            line-height:60px;
            font-size:18px;
            color:#333;
            padding-left:13px;
            position:relative;
            &:before{
                content:'';
                position:absolute;
                height:18px;
                width:3px;
                top:50%;
                margin-top:-5px;
                left:0;
                background:#5c9cef;
            }
        }
        .new-list{
            li{
                line-height:36px;
                height:36px;
                overflow:hidden;
                font-size:14px;
                .new-title{
                    float:left;
                    color:#666;
                    padding-left:8px;
                    background:url(../images/dot.png) left center no-repeat;
                }
                .author{
                    float:right;
                    color:#999;
                }
            }
        }
    }
}
.footer{
    height:200px;
    position:relative;
    z-index:9;
    background:#333 url(../images/footer.png) center center no-repeat;
    position:relative;
    .inner{
        width:1400px;
        position:relative;
        margin:0 auto;
    }
    .c1{
        position:absolute;
        font-size:26px;
        top:78px;
        left:60px;
        color:#FFF;
    }
    .c2{
        position:absolute;
        top:125px;
        left:60px;
        color:#999;
        font-size:12px;
    }
    .c3{
        position:absolute;
        top:125px;
        right:10px;
        color:#999;
        font-size:14px;
        position:absolute;
        a{
            color:#999;
            &.on{
                color:#FFF;
            }
        }
    }
}
.blank100{
    height:100px;
}
.vn{
    visibility:hidden;
}
.dn{
    display:none;
}
.em2{
    display:inline-block;
    width:2em;
}
.j-select{
    display:none;
}


@media screen and (min-width:1900px){
    body{
        .sidebar{
            position:absolute;
            z-index:0;
            .sidebar-min{
                display:none;
            }
            .sidebar-extend{
                display:block;
                top:154px;
                .close{
                    display:none;
                }
            }
        }
        .header{
            .inner{
                left:0;
            }
        }
        .footer{
            .inner{
                left:0;
            }
        }
        .main{
            padding-left:410px;
        }
    }
}

input[type="checkbox"]{
    -webkit-appearance: none; 
    background:url(../images/checkbox.png) 0 0 no-repeat;
    width:15px;
    height:15px;
    vertical-align:middle;
    cursor:pointer;
}
input[type="checkbox"]:checked{
    background-image:url(../images/checkbox-check.png);
}
.quanBlock{
    padding-right:15px;
    background-color:#fafafa;
    &-inner{
        background-color:#fff;
        padding:0 20px;
    }
}
.backBtn{
    cursor:pointer;
    height:40px;
    line-height:40px;
    width:120px;
    text-align:center;
    border-radius:40px;
    background-color:#99d7ff;
    color:#FFF;
    margin:0 auto;
    font-size:16px;
}
.newsDetail{
    padding-bottom:20px;
    &-mvIframe{
        iframe{
            margin:0 auto;
            display:block;
        }
    }
    &-content{
        font-size:14px;
        color:#666;
        line-height:26px;
        padding:14px 0;
    }
    &-author{
        text-align:right;
        color:#999;
        line-height:30px;
        height:30px;
        font-size:14px;
    }
}
.newsList{
    &.isdn{
        display:none;
    }
    &-item{
        overflow:hidden;
        border-bottom:1px solid #eee;
        padding:15px 0;
        &:first-child{
            padding-top:0;
        }
        &:last-child{
            border-bottom:0;
        }
    }
    &-itemPic{
        width:160px;
        height:120px;
        float:left;
        margin-right:20px;
    }
    &-itemTitle{
        font-size:16px;
        line-height:1;
        height:25px;
        color:#333;
    }
    &-itemDesc{
        font-size:14px;
        line-height:25px;
        color:#666;
    }
    &-itemTag{
        font-size:14px;
        line-height:2;
        color:#999;
    }
}
.gtitle{
    margin-left:20px;
    height:52px;
    line-height:52px;
    font-size:18px;
    color:#333;
    padding-left:13px;
    position:relative;
    &:before{
        content:'';
        position:absolute;
        height:18px;
        width:3px;
        top:50%;
        margin-top:-9px;
        left:0;
        background:#5c9cef;
    }
}
.themeBlock{
    padding-left:15px;
    background-color:#fafafa;
    &-inner{
        background-color:#fff;
    }
    &-btn{
        float:right;
        width:100px;
        height:52px;
        line-height:52px;
        color:#99d7ff;
        font-size:14px;
        text-align:center;
        cursor:pointer;
    }
    &-bd{
        padding:0 20px;
    }
}
.themeItemReply{
    font-size:14px;
    line-height:24px;
    color:#999;
    margin-bottom:6px;
    &-high{
        color:#99d7ff;
    }
    &-link{
        color:#333;
        padding:0 15px;
        cursor:pointer;
    }
}
.themeItem{
    padding-left:78px;
    position:relative;
    border-bottom:1px solid #eee;
    margin-bottom:14px;
    &-uploadPic{
        width:180px;
        height:180px;
        margin-top:3px;
    }
    &-replys{
        margin-top:20px;
        margin-bottom:8px;
        margin-left:20px;
    }
    &.isnopic{
        padding-left:0;
    }
    &:last-child{
        border-bottom:0;
    }
    &-pic{
        width:60px;
        height:60px;
        border-radius:100%;
        overflow:hidden;
        position:absolute;
        border:1px solid #efefef;
        left:0;
        top:0;
    }
    &-img{
        width:100%;
        height:100%;
    }
    &-title{
        font-sizE:26px;
        line-height:26px;
        color:#333;
        font-size:16px;
        margin-bottom:4px;
    }
    &-time{
        position:absolute;
        right:0;
        line-height:26px;
        color:#999;
        font-size:14px;
        top:0;
    }
    &-content{
        font-size:14px;
        color:#666;
        line-height:24px;
    }
    &-tags{
        text-align:right;
    }
}
.themeWrite{
    &-title{
        height:40px;
        border:1px solid #eee;
        padding:0 14px;
        margin-bottom:15px;
    }
    &-input{
        height:100%;
        border:0;
        width:100%;
        font-size:14px;
    }
    &-content{
        padding:10px 14px;
        border:1px solid #eee;
        height:80px;
    }
    &-textarea{
        border:0;
        font-size:14px;
        width:100%;
        height:100%;
    }
    &-other{
        padding:20px 0;
        overflow:hidden;
    }
    &-pic{
        float:left;
    }
    &-picBtn{
        font-size:14px;
        line-height:30px;
        color:#99d7ff;
        padding-left:23px;
        background:url(../images/icon-mapadd.png) left center no-repeat;
        cursor:pointer;
    }
    &-btn{
        float:right;
        width:60px;
        height:30px;
        border-radius:3px;
        background:#99d7ff;
        color:#FFF;
        text-align:center;
        line-height:30px;
        font-size:14px;
        cursor:pointer;
    }
}
//°üº¬Í¼Æ¬¸úÆÀÂÛ°´Å¥
.writeOther{
    padding:20px 0;
    overflow:hidden;
    &-pic{
        float:left;
    }
    &-picBtn{
        font-size:14px;
        line-height:30px;
        color:#99d7ff;
        padding-left:23px;
        background:url(../images/icon-mapadd.png) left center no-repeat;
        cursor:pointer;
    }
    &-btn{
        float:right;
        width:60px;
        height:30px;
        border-radius:3px;
        background:#99d7ff;
        color:#FFF;
        text-align:center;
        line-height:30px;
        font-size:14px;
        cursor:pointer;
    }
}
.uiComment{
    &-writeContent{
        position:relative;
        &.iss1{
            &:before{
                content:'';
                position:absolute;
                width:18px;
                height:9px;
                background:url(../images/comment-arrow.png) 0 0 no-repeat;
                left:20%;
                top:-9px;
            }
        }
        &.iss2{
            &:before{
                content:'';
                position:absolute;
                width:18px;
                height:9px;
                background:url(../images/comment-arrow.png) 0 0 no-repeat;
                right:50px;
                top:-9px;
            }
        }
        margin-top:15px;
        height:16px;
        border:1px solid #eee;
        background:#FFF;
        padding:10px 14px;
    }
    &-textarea{
        overflow:hidden;
        height:100%;
        border:0;
        width:100%;
    }
}
.themeDetail{
    background:#fafafa;
    &.isdn{
        display:none;
    }
    &-writeOther{
        border-bottom:1px solid #eee;
    }
    &-inner{
        padding:0 20px;
    }
    &.isexpand{
        margin:0 -20px;
    }

    &-write{
        border-bottom:1px solid #e6e6e6;
    }
    &-tags{
        background-color:#FFF;
        height:50px;
        line-height:50px;
        border:1px solid #eee;
        border-left:0;
        border-right:0;
        position:relative;
        &:before{
            content:'';
            height:30px;
            width:1px;
            background:#eee;
            position:absolute;
            left:50%;
            top:50%;
            margin-top:-15px;
        }
    }
    &-tag{
        width:50%;
        float:left;
        text-align:center;
        font-size:14px;
        color:#666;
        cursor:pointer;
        &.isreply{
            &:before{
                content:'';
                margin-right:6px;
                display:inline-block;
                width:17px;
                height:14px;
                background:url(../images/icon-reply.png) 0 0 no-repeat;
                vertical-align:top;
                position:relative;
                top:18px;
            }
        }
        &.iszan{
            &:before{
                content:'';
                margin-right:6px;
                display:inline-block;
                width:15px;
                height:15px;
                background:url(../images/icon-zan.png) 0 0 no-repeat;
                vertical-align:top;
                position:relative;
                top:18px;
            }
        }

    }
}
.themeDetailComment{
    &-list{
        position:relative;
        top:-5px;
    }
    &-orders{
        height:70px;
        line-height:70px;
        font-size:14px;
        color:#999;
        padding-left:20px;
        background:url(../images/icon-order.png) left center no-repeat;
    }
    &-order{
        display:inline-block;
        cursor:pointer;
        &.ison{
            color:#99d7ff;
        }
    }
}
.themeDetailItem{
    padding-left:78px;
    position:relative;
    background:#FFF;
    &-wrap{
        padding:0 20px;
        background:#FFF;
    }
    &-pic{
        width:60px;
        height:60px;
        border-radius:100%;
        overflow:hidden;
        position:absolute;
        left:0;
        top:0;
        border:1px solid #efefef;
    }
    &-title{
        line-height:26px;
        color:#333;
        font-size:16px;
        margin-bottom:4px;
    }
    &-time{
        height:30px;
        line-height:1;
        color:#999;
        text-align:right;
        margin-top:6px;
        font-size:14px;
    }
    &-author{
        position:absolute;
        right:0;
        line-height:26px;
        color:#999;
        font-size:14px;
        top:0;
    }
    &-content{
        font-size:14px;
        color:#666;
        line-height:24px;
    }

}
.themeItemTag{
    margin-left:10px;
    height:40px;
    line-height:40px;
    padding-left:24px;
    background-repeat:no-repeat;
    background-position:4px center;
    font-size:14px;
    color:#999;
    display:inline-block;
    vertical-align:top;
    cursor:pointer;
    &.isreply{
        background-image:url(../images/icon-reply.png);
        background-position:4px 15px;
    }
    &.iszan{
        background-image:url(../images/icon-zan.png);
    }
    &.ishaszan{
        color:#99d7ff;
        background-image:url('../images/icon-zanhas.png');
    }
}

.news{
    &-main{
        width:60%;
        float:left;
        overflow-y:auto;


    }
    &-side{
        width:40%;
        float:right;
        overflow-y:auto;

        &.isfixedTop{
            position:fixed;
            top:0;
            float:none;
            right:40px;
            bottom:auto!important;
        }
        &.isfixedBottom{
            position:fixed;
            bottom:200px;
            right:40px;
            float:none;
        }
    }
}

.blockImg{
    width:100%;
    height:100%;
    display:block;
}
.reg{
    background:#FFF;
    padding-bottom:90px;
    &-banner{
    }
    &-bannerImg{
        display:block;
        width:100%;
        height:auto;
    }
    &-form{
        padding-top:60px;
    }
    &-main{
        width:1150px;
        margin:0 auto;
    }
    &-formBd{
        margin-left:290px;
    }
    &-formEleBtn{
        margin-top:50px;
    }
    &-formUpload{
        margin-bottom:23px!important;
    }
}

.formUpload{
    margin:0 auto;
    width:102px;
    &-pic{
        width:100px;
        height:100px;
        overflow:hidden;
        border-radius:100%;
        border:1px solid #eee;
    }
    &-text{
        height:48px;
        line-height:48px;
        font-size:16px;
        text-align:center;
        color:#999;
    }
}
.formEle{
    overflow:hidden;
    margin-bottom:20px;
    &:last-child{
        margin-bottom:0;
    }
    &-tip{
        float:left;
        height:42px;
        line-height:42px;
    }
    &-uploadImgBtn{
        font-size:14px;
        color:#99d7ff;
        padding-left:24px;
        background:url(../images/icon-mapadd.png) left center no-repeat;
        margin-left:10px;
        cursor:pointer;
    }
    &-label{
        float:left;
        width:100px;
        height:42px;
        line-height:42px;
        font-size:16px;
        color:#666;
    }
    &-input{
        width:100%;
        height:100%;
        border:0;
        background:none;
        display:block;
        font-size:14px;
    }
    &-btn{
        width:375px;
        height:50px;
        border-radius:4px;
        background:#00b7ee;
        font-size:18px;
        color:#FFF;
        border:0;
        cursor:pointer;
    }
    &-space{
        width:2em;
        display:inline-block;
    }
    &-require{
        color:#ff3333;
        &.isvn{
            visibility:hidden;
        }
    }
    &-inputWrap{
        float:left;
        height:40px;
        border:1px solid #eee;
        border-radius:4px;
        width:420px;
        padding:0 20px;
    }
}
