    <!--主题详情-->
    <div class="themeDetail isexpand isdn" ng-class="{'isdn' : !global.isFinished}">
        <div class="themeDetailItem-wrap">
            <div class="themeDetailItem">
                <div class="themeDetailItem-pic">
                    <img src="./images/zhuti-img.png" alt="" />
                </div>
                <div class="themeDetailItem-info">
                    <div class="themeDetailItem-title">{{data.title}}</div>
                    <div class="themeDetailItem-author">作者 {{data.author}}</div>
                    <div class="themeDetailItem-content">{{data.descp}}</div>
                    <div class="themeDetailItem-time">{{data.time}}</div>
                </div>
            </div>
        </div>
        <div class="themeDetail-tags">
            <div class="themeDetail-tag isreply" ng-click="fn_showTopicComment()">评论 {{data.comments}}</div>
            <div class="themeDetail-tag iszan">赞 {{data.hits}}</div>
        </div>
        <div class="themeDetail-inner">
            <div class="themeDetail-write" ng-if="topic.isTopicComment">
                <div class="uiComment">
                    <div class="uiComment-writeContent iss1">
                        <textarea ng-model="topic.content" cols="30" rows="10" class="uiComment-textarea"></textarea>
                    </div>
                    <div class="uiComment-writeOther writeOther">
                        <div class="writeOther-pic">
                            <div class="writeOther-picBtn">添加图片</div>
                        </div>
                        <div class="writeOther-btn" ng-click="fn_addTopicComment()">评论</div>
                    </div>
                </div>
            </div>
            <div class="themeDetailComment">
                <div class="themeDetailComment-orders">
                    <div class="themeDetailComment-order ison">按热度</div>
                    <div class="themeDetailComment-order">按时间</div>
                </div>
                <div class="themeDetailComment-list">
                    <div class="themeDetailCommentItem themeItem isnopic" ng-repeat="x in comment.list">
                        <div class="themeItem-info">
                            <div class="themeItem-title">{{x.name}}</div>
                            <div class="themeItem-time">{{x.time}}</div>
                            <div class="themeItem-content">{{x.content}}</div>
                            <div class="themeItem-replys">
                                <div class="themeItemReply" ng-repeat="y in x.list">
                                    <div ng-if="y.nameb.length == 0">
                                        <span class="themeItemReply-user"><span class="themeItemReply-high">{{y.namea}}</span>：</span><span class="themeItemReply-content">{{y.content}}</span><span class="themeItemReply-link" ng-click="fn_setIds(x,y)">回复</span>
                                    </div>
                                    <div ng-if="y.nameb.length > 0">
                                        <span class="themeItemReply-user"><span class="themeItemReply-high">{{y.namea}}</span>回复<span class="themeItemReply-high">@{{y.nameb}}：</span></span>
                                        <span class="themeItemReply-content">{{y.content}}</span><span class="themeItemReply-link" ng-click="fn_setIds(x,y)">回复</span>
                                    </div>
                                </div>
                            </div>
                            <div class="themeItem-tags">
                                <div class="themeItemTag isreply" ng-click="fn_setIds(x)"></div>
                                <div class="themeItemTag iszan" ng-click="fn_zan(x)">{{x.praise}}</div>
                            </div>
                        </div>
                        <div class="themeDetailCommentItem-reply" ng-if="x.openComment">
                            <div class="uiComment">
                                <div class="uiComment-writeContent iss2">
                                    <textarea ng-model="x.reply" cols="30" rows="10" class="uiComment-textarea"></textarea>
                                </div>
                                <div class="uiComment-writeOther writeOther">
                                    <div class="writeOther-pic">
                                        <div class="writeOther-picBtn">添加图片</div>
                                    </div>
                                    <div class="writeOther-btn" ng-click="fn_addComment(x)">评论</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="themeDetail-backBtn"></div>
    </div>
